@font-face {
    font-family: 'danger';
    src: url('./assets/Another_Danger_Demo.otf');
}
body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    counter-reset: score;
}
/* Contenedor Principal */
.phone {
    position: relative;
    width: 300px;
    height: 600px;
    border: solid 8px rgb(61, 60, 60);
    border-radius: 40px;
    background-color: rgb(26, 11, 92);
    box-shadow: 0 19px 38px rgb(36, 34, 34), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow-x: hidden;
    /* overflow-y: hidden; */
    perspective: 100px;/* La perspectiva debe ser mayor que el ancho del objeto 3d */
    perspective-origin: center;
}
/* Bruja SVG */
.bruja {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0.95;
    z-index: 1;
    top: 40px;
    left: 0;
    background-image: url('./assets/bruja.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform-style: preserve-3d;
    animation: bruja 10s linear infinite;
}
/* Luna SVG*/
.luna {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 0;
    top: 30px;
    left: 5px;
    background-image: url('./assets/luna.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-20deg);
    transition: transform 3s ease-in-out 5s;
}
/* Título */
.titulo {
    position: absolute;
    text-align: center;
    top: -15px;
    left: 55px;
    color: #7f7f7f;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 7px;
    font-family: 'danger';
}
/* Record */
.score {
    position: absolute;
    z-index: 10;
    top: 350px;
    left: 70px;
    color: rgb(194, 119, 34);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.score::after {
    content: counter(score);
}
/* Estilos de los inputs */
input:checked {
    counter-increment: score;
}
input[type="checkbox"]:focus {
    appearance: none;
    outline: none;
}
.estilos {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 46px;
    left: 12px;
    outline: none;
    appearance: none;
}
/* Nube 1 */
.layer-0 {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 120px;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow-x: hidden;
}
/* Conejo 1 */
.layer-1 {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 450px;
    bottom: 0;
    right: 60px;
    animation: estilos 1s linear infinite;
}
/* Conejo 2 */
.layer-2 {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 450px;
    bottom: 0;
    left: 60px;
    animation: estilos 1s 0.3s ease-in infinite;
}
/* Montaña 1 */
.layer-3 {
    position: absolute;
    z-index: 3;
    width: 220px;
    height: 400px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 1px solid rgba(49, 48, 48, 0.87);
    border-radius: 20px 20px 0 0;
    background-color: rgb(99, 58, 6);
}
/* Conejo 3 */
.layer-4 {
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 350px;
    bottom: 0;
    left: 15px;
    animation: estilos 0.5s 0.3s ease-out infinite;
}
/* Montaña 2 */
.layer-5 {
    position: absolute;
    z-index: 5;
    height: 300px;
    width: 200px;
    bottom: 0;
    border: 1px solid rgba(49, 48, 48, 0.87);
    border-radius: 20px 20px 0 31px;
    background-color: rgb(104, 67, 20);
}
/* Conejo 4 */
.layer-6 {
    position: absolute;
    z-index: 6;
    width: 80px;
    height: 250px;
    bottom: 0;
    right: 30px;
    animation: estilos 1s cubic-bezier(.25,.56,.97,-0.04) infinite;
}
/* Montaña 3 */
.layer-7 {
    position: absolute;
    z-index: 7;
    width: 150px;
    height: 200px;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(49, 48, 48, 0.87);
    border-radius: 20px 20px 31px 0;
    background-color: rgb(136, 86, 22);
}
/* Cascada */
.layer-8 {
    position: absolute;
    z-index: 8;
    width: 200px;
    height: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow-y: hidden;
    border-radius: 10px 10px 0 0;
    box-shadow: -5px 0 15px 0 rgba(76, 92, 163, 0.877), 
                5px 0 15px 0 rgba(53, 55, 66, 0.8);
}
/* Nube izq */
.layer-9 {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100px;
    bottom: 0;
    border-radius: 0 0 0 31px;
    overflow-x: hidden;
}
/* Nube der */
.layer-10 {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    bottom: 0;
    right: 0;
    border-radius: 0 0 31px 0;
    overflow-x: hidden;
}
/* Dibujo con CSS */
/* Conejo */
.oreja {
    position: absolute;
    width: 10px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: pink;
    top: -5px;
    left: 5px;
    transform: rotate(-15deg);
    transform-origin: bottom left;
}
.oreja::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: pink;
    left: 45px;
    top: 3px;
    transform: rotate(30deg);
    transform-origin: bottom left;
    animation-name: oreja;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.ojo {
    position: absolute;
    background-color: black;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 40px;
    left: 25px;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.ojo::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 24px;
}
.cuerpo {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    top: 30px;
}
.cuerpo::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    clip-path: polygon(0% 35%, 17% 2%, 21% 37%, 31% 17%, 36% 32%, 49% 6%, 63% 34%, 86% 8%, 85% 30%, 100% 30%, 94% 60%, 79% 98%, 66% 62%, 63% 94%, 53% 76%, 42% 100%, 31% 62%, 17% 96%, 14% 66%);
    background-color: black;
    top: 25px;
    left: 16px;
    animation-name: boca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/* Montaña */
.cesped {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(23, 172, 55);
    border-radius: 20px 20px 0 0;
}
.patron {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, rgba(44, 65, 48, 0.856) 25%, transparent 25%) -50px 0, linear-gradient(-135deg, rgba(69, 92, 74, 0.856) 25%, transparent 25%) -50px 0;
    background-size: 40px 100px;
}
.patron::before {
    content: '';
    position: absolute;
    top: -5px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, rgb(23, 172, 55) 25%, transparent 25%) -50px 0, linear-gradient(-135deg, rgb(23, 172, 55) 25%, transparent 25%) -50px 0;
    background-size: 40px 100px;
}
/* Cascada */
.cascada {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    border-top: 3px solid rgb(136, 138, 230);
    background-color: #7474d4;
    background-image:  linear-gradient(135deg, #111ce5 25%, transparent 25%), linear-gradient(225deg, #111ce5 25%, transparent 25%), linear-gradient(45deg, #111ce5 25%, transparent 25%), linear-gradient(315deg, #111ce5 25%, #4a4af0 25%);
    background-position:  21px 0, 21px 0, 0 0, 0 0;
    background-size: 42px 42px;
    background-repeat: repeat;
    will-change: background-position;
    animation: agua 20s linear infinite normal;
}
/* Nube */
.nube {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 25px;
    background-color: rgb(192, 191, 191);
    border-radius: 50%;
    animation: nube 5s linear infinite;
}
.nube::after {
    content: '';
    position: absolute;
    width: 85px;
    height: 85px;
    top: -20px;
    left: 20px;
    background-color: rgb(192, 191, 191);
    border-radius: 50%;
}
.nube::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 45px;
    top: 20px;
    left: -20px;
    background-color: rgb(192, 191, 191);
    border-radius: 50px;
}
.nube-derecha {
    width: 30px;
    height: 30px;
    left: 170px;
    top: 20px;
    background-color: rgb(140, 154, 189);
}
.nube-derecha::after {
    content: '';
    width: 70px;
    height: 70px;
    left: 15px;
    background-color: rgb(140, 154, 189);
}
.nube-derecha::before {
    content: '';
    width: 115px;
    height: 32px;
    left: -12px;
    background-color: rgb(140, 154, 189);
}
.arriba {
    width: 35px;
    height: 35px;
    left: 170px;
    top: 20px;
    background-color: rgb(79, 88, 110);
    animation: nube 8s linear infinite;
}
.arriba::after {
    width: 75px;
    height: 75px;
    left: 15px;
    background-color: rgb(79, 88, 110);
}
.arriba::before {
    width: 120px;
    height: 37px;
    left: -12px;
    background-color: rgb(79, 88, 110);
}
/* Animaciones */
/* Conejo */
@keyframes parpadeo {
    0% {
        transform: scaleY(1);
    }
    20% {
        transform: scaleY(0.1);
    }
    50% {
        transform: scaleY(0.5);
    }
}
@keyframes oreja {
    0% {
        transform: rotate(30deg);
    }
    10% {
        transform: rotate(35deg);
    }
    60% {
        transform: rotate(25deg);
    }
    
}
@keyframes boca {
    0% {
        transform: scaleY(0) rotate(-5deg);
    }
    50% {
        transform: scaleY(1.1) rotate(5deg);
    }
    100% {
        transform: scaleY(1) rotate(0);
    }
    
}
@keyframes estilos {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-80px);
    }
    100% {
        ransform: translateY(0px);
    }
}
@keyframes nube {
    0% {
        transform: translateX(900%) scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: translateX(-900%);
    }
}
@keyframes agua {
    0% {
        background-position:  21px 0, 21px 0, 0 0, 0 0;
    }
    100% {
        background-position:  21px 1000px, 21px 1000px, 0 1000px, 0 1000px;
    }
}
@keyframes bruja {
    0% {
        transform: translate3d(-50px, 0, 0) scale(1);
        z-index: 1;
        opacity: 0;
    }
    5% {
        transform: translate3d(50px, 0, -10px) scale(0.90);
        z-index: 1;
        opacity: 0.5;
    }
    15% {
        transform: translate3d(100px, 0, -2px) scale(0.98)rotateY(0deg);
        z-index: 1;
        opacity: 0.95;
    }
    20% {
        transform: translate3d(150px, 0, -1px) scale(0.99);
        z-index: 1;
    }
    30% {
        transform: translate3d(200px, 0, 0) scale(1);
        z-index: 1;
    }
    40% {
        transform: translate3d(270px, 0, 2px) scale(1.02) rotateY(10deg);
        z-index: 1;
    }
    50% {
        transform: translate3d(250px, 0, 5px) scale(1.2) rotateY(90deg);
        z-index: 1;
    }
    60% {
        transform: translate3d(200px, 50px, 10px) scale(1.3) rotateY(120deg);
        z-index: 11;
    }
    70% {
        transform: translate3d(150px, 100px, 10px) scale(1.7) rotateY(121deg);
        z-index: 11;
    }
    80% {
        transform: translate3d(100px, 150px, 10px) scale(2) rotateY(122deg);
        z-index: 11;
    }
    90% {
        transform: translate3d(50px, 200px, 10px) scale(2.5) rotateY(130deg);
        z-index: 11;
        opacity: 0.95;
    }
    100% {
        transform: translate3d(-80px, 300px, 10px) scale(3) rotateY(140deg);
        z-index: 11;
        opacity: 0.5;
    }
}
.noanimar::after {
    animation: none;
}